CURRENT
MODE
blib/
versions/*
shims/*
git_reference/

fatpacker.trace
packlists
fatlib/

.build
App-Rakubrew-*/
App-Rakubrew-*.tar.gz
MYMETA.json
MYMETA.yml
Makefile
pm_to_blib
rakubrew

*~
*.swp
.directory

